body{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:80px auto 50px;
    grid-template-areas:
    "header header"
    "main main"
    "nav nav"
    "footer footer";
    background-color:gray;
    color:white;
}
header{
    grid-area: header;
    font-family: 'Times New Roman'; 
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
    color: lightgreen;
}
a:link {text-decoration:none;}
a:visited, a { 
    text-decoration: none; 
    color: white; }
a:hover { text-decoration: none; color:White; }
a:active { text-decoration: none; color:red; }
.teknikum{
    width:40%;
}

img{
    width: 25%;
}
nav>ul{
    display: grid;
    grid-template-columns:1fr;
    padding: 0;
    margin: 0;
    height: 100%;
}
table,th,td{
    border:2px solid black;
    border-collapse: collapse;
    width:50%;
    text-align: center;
}
.lol{
    width:40%;
}
tr:nth-child(even){
    background-color:red;
}
tr:nth-child(odd){
    background-color:black;
}




