body{ /* Hur själva designen på hela sidan ska vara */
    display: grid; /* Bestämmer att det ska vara grid format */
    grid-template-columns:1fr; /* Det kommer vara 2 kolumner */
    grid-template-rows:80px 50px auto auto 50px; /* Hur stora raderna kommer vara */
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer"; /* grid template areas nämner jag bara vilka areas som finns */
    background-color:gray; /* Vilken bakgrundsfärg sidorna kommer att ha */
    color:white; /* Vilken färg texten kommer att vara */
}
header{ /* Designar headerns här */
    grid-area: header; /* Bestämmer var den ska vara */
    font-family: 'Times New Roman'; /* Vilken sorts text det ska vara */
} 
nav{ /* Här designar jag nav */
    grid-area: nav; /* Och väljer var det ska vara */
}
main{ /* Här designar jag main */
    grid-area: main; /* Och då var den ska vara */
}
section{ /* Här designar jag section */
    grid-area: section; /* Och väljer var den ska vara */
}
footer{ /* Här designar jag min footer */
    grid-area: footer; /* Var min footer ska vara */
} 
a:link {text-decoration:none;} /* Hur en länk dekoration kommer se ut */
a:visited, a {  /* Hur en länk man visitat ska se ut */
    text-decoration: none;  /* ingen text dekoration */
    color: white; } /* Texten ska vara vit */
a:hover { text-decoration: none; color:White; } /* Om man hoverar över den så ska färgen fortfarande vara vit */
a:active { text-decoration: none; color:red; } /* Om länken är aktivt öppen så ska den vara röd */
.teknikum{ /* Här har jag klassat en bild eller ord */
    width:40%; /* vill att widthen på den är 40% */
}

img{ 
    width: 25%; /* En bild som bara ska ha 25% width */
}
nav>ul{ /* Här är navigation en punktlista som jag designat */
    display: grid;
    grid-template-columns:1fr;
    padding: 0;
    margin: 0;
    height: 100%;
}
table,th,td{ /* Här har jag även designat en tabell */
    border:2px solid black;
    border-collapse: collapse;
    width:50%;
    text-align: center;
}
.lol{ /* En bild om ett av spelen */
    width:40%; /* 40% width på bilden */
}
tr:nth-child(even){ /* Här har jag zebra stripat en tabell och använt en pseudo klasselektor */ 
    background-color:red; /* Vill att en av färgerna är röd */
}
tr:nth-child(odd){ /* Här har jag zebra stripat en tabell och använt en pseudo klasselektor */
    background-color:black; /* vill att en av färgerna är svart */
}
aside{
    grid-area: aside;
}
.teknik{
    width: 30%
}




