body{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:80px auto 50px;
    grid-template-areas:
    "header header"
    "main main"
    "nav nav"
    "footer footer";
    background-color:gray;
    color:white;
}
a:link {text-decoration:none;}
a:visited, a { 
    text-decoration: none; 
    color: white; }
a:hover { text-decoration: none; color:White; }
a:active { text-decoration: none; color:red; }
.teknikum{
    width:100%;
}

img{
    width: 50%;
}
nav>ul{
    display: grid;
    grid-template-columns:;
    padding: 0;
    margin: 0;
    height: 100%;
}
table,th,td{
    border:2px solid black;
    border-collapse: collapse;
}


